This project is part of Applications of Deep Neural Networks from Washington University coursework. The goal is to predict missing data values in columns a2 and a14 using Deep Neural Networks.

In [30]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Dropout
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("https://data.heatonresearch.com/data/t81-558/crx.csv",na_values=['?'])

In [3]:
data.head()

  a1     a2     s3 a4 a5 a6 a7    a8 a9 a10  a11 a12 a13    a14  a15 a16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0   +

In [4]:
data.isna().sum()

a1     12
a2     12
s3      0
a4      6
a5      6
a6      9
a7      9
a8      0
a9      0
a10     0
a11     0
a12     0
a13     0
a14    13
a15     0
a16     0
dtype: int64

In [5]:
dummies = pd.get_dummies(data[['a9', 'a10', 'a12', 'a13']])
dummies.shape

(690, 9)

In [6]:
from scipy.stats import zscore

data['s3'] = zscore(data['s3'])
data['a8'] = zscore(data['a8'])
data['a11'] = zscore(data['a11'])
data['a15'] = zscore(data['a15'])

In [7]:
data1 = data[['a2', 's3', 'a8', 'a11', 'a15']]
data1

        a2        s3        a8       a11       a15
0    30.83 -0.956613 -0.291083 -0.288101 -0.195413
1    58.67 -0.060051  0.244190  0.740830 -0.087852
2    24.50 -0.856102 -0.216324 -0.493887 -0.037144
3    27.83 -0.647038  0.456505  0.535044 -0.194837
4    20.17  0.174141 -0.153526 -0.493887 -0.195413
..     ...       ...       ...       ...       ...
685  21.08  1.070704 -0.291083 -0.493887 -0.195413
686  22.67 -0.805846 -0.066806 -0.082314 -0.119736
687  25.25  1.757198 -0.066806 -0.288101 -0.195221
688  17.92 -0.915403 -0.652915 -0.493887 -0.051358
689  35.00 -0.278161  1.814125 -0.493887 -0.195413

[690 rows x 5 columns]

In [8]:
df = pd.concat([data1, dummies], axis=1)
df.shape

(690, 14)

In [9]:
train = df.dropna()
test = df[df.isna().any(1)]

In [10]:
cols = df.columns.drop('a2')
x = train[cols].values
y = train['a2'].values

In [11]:
X_test = test[cols].values

In [12]:
x_train, x_valid, y_train, y_valid = train_test_split(    
    x, y, test_size=0.25, random_state=42)

In [13]:
x_train[0]

array([0.45858887, 3.52161668, 0.74082993, 0.06042927, 0.        ,
       1.        , 0.        , 1.        , 0.        , 1.        ,
       1.        , 0.        , 0.        ])

In [14]:
model = Sequential([
                    Dense(13, input_dim=x.shape[1], activation='relu'),
                    Dense(13, activation="relu"),
                    Dense(1)
])

In [15]:
monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, 
                        patience=5, verbose=1, mode='auto', 
                        restore_best_weights=True)

In [16]:
model.compile(loss='mean_squared_error', metrics=[tf.keras.metrics.RootMeanSquaredError()], optimizer='adam')
model.fit(x_train,y_train,validation_data=(x_valid,y_valid), callbacks=[monitor],
          verbose=2,epochs=1000)

Epoch 1/1000
16/16 - 1s - loss: 1136.8246 - root_mean_squared_error: 33.7168 - val_loss: 1109.0538 - val_root_mean_squared_error: 33.3025 - 1s/epoch - 84ms/step
Epoch 2/1000
16/16 - 0s - loss: 1120.4127 - root_mean_squared_error: 33.4726 - val_loss: 1091.6945 - val_root_mean_squared_error: 33.0408 - 86ms/epoch - 5ms/step
Epoch 3/1000
16/16 - 0s - loss: 1103.1393 - root_mean_squared_error: 33.2135 - val_loss: 1072.3610 - val_root_mean_squared_error: 32.7469 - 125ms/epoch - 8ms/step
Epoch 4/1000
16/16 - 0s - loss: 1082.8975 - root_mean_squared_error: 32.9074 - val_loss: 1048.4396 - val_root_mean_squared_error: 32.3796 - 102ms/epoch - 6ms/step
Epoch 5/1000
16/16 - 0s - loss: 1056.5499 - root_mean_squared_error: 32.5046 - val_loss: 1017.5302 - val_root_mean_squared_error: 31.8988 - 84ms/epoch - 5ms/step
Epoch 6/1000
16/16 - 0s - loss: 1021.7975 - root_mean_squared_error: 31.9656 - val_loss: 976.2869 - val_root_mean_squared_error: 31.2456 - 101ms/epoch - 6ms/step
Epoch 7/1000
16/16 - 0s - loss: 975.3328 - root_mean_squared_error: 31.2303 - val_loss: 922.7066 - val_root_mean_squared_error: 30.3761 - 104ms/epoch - 6ms/step
Epoch 8/1000
16/16 - 0s - loss: 915.1302 - root_mean_squared_error: 30.2511 - val_loss: 851.8333 - val_root_mean_squared_error: 29.1862 - 130ms/epoch - 8ms/step
Epoch 9/1000
16/16 - 0s - loss: 835.6196 - root_mean_squared_error: 28.9071 - val_loss: 762.2798 - val_root_mean_squared_error: 27.6094 - 135ms/epoch - 8ms/step
Epoch 10/1000
16/16 - 0s - loss: 736.4698 - root_mean_squared_error: 27.1380 - val_loss: 655.1941 - val_root_mean_squared_error: 25.5968 - 98ms/epoch - 6ms/step
Epoch 11/1000
16/16 - 0s - loss: 622.0526 - root_mean_squared_error: 24.9410 - val_loss: 534.9977 - val_root_mean_squared_error: 23.1300 - 173ms/epoch - 11ms/step
Epoch 12/1000
16/16 - 0s - loss: 498.5655 - root_mean_squared_error: 22.3286 - val_loss: 413.4553 - val_root_mean_squared_error: 20.3336 - 190ms/epoch - 12ms/step
Epoch 13/1000
16/16 - 0s - loss: 379.1851 - root_mean_squared_error: 19.4727 - val_loss: 302.9450 - val_root_mean_squared_error: 17.4053 - 219ms/epoch - 14ms/step
Epoch 14/1000
16/16 - 0s - loss: 277.8495 - root_mean_squared_error: 16.6688 - val_loss: 216.9998 - val_root_mean_squared_error: 14.7309 - 225ms/epoch - 14ms/step
Epoch 15/1000
16/16 - 0s - loss: 204.4348 - root_mean_squared_error: 14.2981 - val_loss: 162.6862 - val_root_mean_squared_error: 12.7549 - 141ms/epoch - 9ms/step
Epoch 16/1000
16/16 - 0s - loss: 162.5461 - root_mean_squared_error: 12.7494 - val_loss: 135.8274 - val_root_mean_squared_error: 11.6545 - 228ms/epoch - 14ms/step
Epoch 17/1000
16/16 - 0s - loss: 142.6396 - root_mean_squared_error: 11.9432 - val_loss: 126.9691 - val_root_mean_squared_error: 11.2681 - 135ms/epoch - 8ms/step
Epoch 18/1000
16/16 - 0s - loss: 135.5473 - root_mean_squared_error: 11.6425 - val_loss: 124.5169 - val_root_mean_squared_error: 11.1587 - 155ms/epoch - 10ms/step
Epoch 19/1000
16/16 - 0s - loss: 132.7606 - root_mean_squared_error: 11.5222 - val_loss: 123.9216 - val_root_mean_squared_error: 11.1320 - 126ms/epoch - 8ms/step
Epoch 20/1000
16/16 - 0s - loss: 131.0702 - root_mean_squared_error: 11.4486 - val_loss: 123.5065 - val_root_mean_squared_error: 11.1133 - 79ms/epoch - 5ms/step
Epoch 21/1000
16/16 - 0s - loss: 129.8956 - root_mean_squared_error: 11.3972 - val_loss: 123.2003 - val_root_mean_squared_error: 11.0996 - 193ms/epoch - 12ms/step
Epoch 22/1000
16/16 - 0s - loss: 128.4620 - root_mean_squared_error: 11.3341 - val_loss: 122.7401 - val_root_mean_squared_error: 11.0788 - 109ms/epoch - 7ms/step
Epoch 23/1000
16/16 - 0s - loss: 127.7492 - root_mean_squared_error: 11.3026 - val_loss: 122.0681 - val_root_mean_squared_error: 11.0484 - 119ms/epoch - 7ms/step
Epoch 24/1000
16/16 - 0s - loss: 126.6676 - root_mean_squared_error: 11.2547 - val_loss: 121.9009 - val_root_mean_squared_error: 11.0409 - 182ms/epoch - 11ms/step
Epoch 25/1000
16/16 - 0s - loss: 126.0207 - root_mean_squared_error: 11.2259 - val_loss: 121.9783 - val_root_mean_squared_error: 11.0444 - 88ms/epoch - 5ms/step
Epoch 26/1000
16/16 - 0s - loss: 125.3779 - root_mean_squared_error: 11.1972 - val_loss: 121.7946 - val_root_mean_squared_error: 11.0361 - 97ms/epoch - 6ms/step
Epoch 27/1000
16/16 - 0s - loss: 124.7990 - root_mean_squared_error: 11.1713 - val_loss: 121.4643 - val_root_mean_squared_error: 11.0211 - 71ms/epoch - 4ms/step
Epoch 28/1000
16/16 - 0s - loss: 124.3561 - root_mean_squared_error: 11.1515 - val_loss: 121.3997 - val_root_mean_squared_error: 11.0182 - 61ms/epoch - 4ms/step
Epoch 29/1000
16/16 - 0s - loss: 123.8991 - root_mean_squared_error: 11.1310 - val_loss: 121.6339 - val_root_mean_squared_error: 11.0288 - 74ms/epoch - 5ms/step
Epoch 30/1000
16/16 - 0s - loss: 123.5483 - root_mean_squared_error: 11.1152 - val_loss: 121.6994 - val_root_mean_squared_error: 11.0317 - 47ms/epoch - 3ms/step
Epoch 31/1000
16/16 - 0s - loss: 123.2210 - root_mean_squared_error: 11.1005 - val_loss: 121.4761 - val_root_mean_squared_error: 11.0216 - 48ms/epoch - 3ms/step
Epoch 32/1000
16/16 - 0s - loss: 122.8680 - root_mean_squared_error: 11.0846 - val_loss: 121.4276 - val_root_mean_squared_error: 11.0194 - 67ms/epoch - 4ms/step
Epoch 33/1000
16/16 - 0s - loss: 122.6464 - root_mean_squared_error: 11.0746 - val_loss: 121.2921 - val_root_mean_squared_error: 11.0133 - 68ms/epoch - 4ms/step
Epoch 34/1000
16/16 - 0s - loss: 122.4258 - root_mean_squared_error: 11.0646 - val_loss: 121.7518 - val_root_mean_squared_error: 11.0341 - 54ms/epoch - 3ms/step
Epoch 35/1000
16/16 - 0s - loss: 122.1885 - root_mean_squared_error: 11.0539 - val_loss: 121.8560 - val_root_mean_squared_error: 11.0388 - 49ms/epoch - 3ms/step
Epoch 36/1000
16/16 - 0s - loss: 121.9130 - root_mean_squared_error: 11.0414 - val_loss: 121.2805 - val_root_mean_squared_error: 11.0127 - 57ms/epoch - 4ms/step
Epoch 37/1000
16/16 - 0s - loss: 121.8379 - root_mean_squared_error: 11.0380 - val_loss: 121.3763 - val_root_mean_squared_error: 11.0171 - 52ms/epoch - 3ms/step
Epoch 38/1000
16/16 - 0s - loss: 121.8747 - root_mean_squared_error: 11.0397 - val_loss: 120.8833 - val_root_mean_squared_error: 10.9947 - 68ms/epoch - 4ms/step
Epoch 39/1000
16/16 - 0s - loss: 121.4090 - root_mean_squared_error: 11.0186 - val_loss: 121.2329 - val_root_mean_squared_error: 11.0106 - 52ms/epoch - 3ms/step
Epoch 40/1000
16/16 - 0s - loss: 121.2541 - root_mean_squared_error: 11.0115 - val_loss: 121.2833 - val_root_mean_squared_error: 11.0129 - 65ms/epoch - 4ms/step
Epoch 41/1000
16/16 - 0s - loss: 121.0917 - root_mean_squared_error: 11.0042 - val_loss: 121.3167 - val_root_mean_squared_error: 11.0144 - 51ms/epoch - 3ms/step
Epoch 42/1000
16/16 - 0s - loss: 120.8851 - root_mean_squared_error: 10.9948 - val_loss: 120.9622 - val_root_mean_squared_error: 10.9983 - 59ms/epoch - 4ms/step
Epoch 43/1000
Restoring model weights from the end of the best epoch: 38.
16/16 - 0s - loss: 120.7350 - root_mean_squared_error: 10.9879 - val_loss: 121.5192 - val_root_mean_squared_error: 11.0236 - 74ms/epoch - 5ms/step
Epoch 43: early stopping

In [17]:
preds = model.predict(X_test)

In [18]:
test.dropna(axis=1, inplace=True)
test['a2'] = preds.reshape(-1)
test

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,s3,a8,a11,a15,a9_f,a9_t,a10_f,a10_t,a12_f,a12_t,a13_g,a13_p,a13_s,a2
83,-0.253033,0.232229,-0.493887,-0.195413,0,1,1,0,0,1,1,0,0,32.240070
86,-0.881230,-0.403221,-0.493887,-0.195413,0,1,1,0,0,1,0,0,1,28.364706
92,0.048502,1.876923,-0.493887,-0.195413,0,1,1,0,1,0,1,0,0,38.379448
97,-0.856102,-0.415182,-0.493887,-0.195413,0,1,1,0,0,1,0,0,1,28.328682
254,-0.830974,-0.590118,-0.493887,0.190655,1,0,1,0,1,0,1,0,0,28.262863
286,-0.655079,-0.664877,-0.082314,-0.175246,1,0,0,1,0,1,1,0,0,27.602304
329,-0.152521,-0.639459,-0.493887,-0.195413,1,0,1,0,0,1,1,0,0,28.456648
445,1.304896,-0.664877,-0.493887,0.803372,1,0,1,0,1,0,1,0,0,27.543591
450,-0.353544,1.428370,-0.493887,-0.195221,1,0,1,0,1,0,1,0,0,35.201546
500,-0.152521,0.830300,0.123472,0.242323,0,1,0,1,0,1,1,0,0,33.963375
515,1.154129,1.278852,-0.493887,-0.195413,0,1,1,0,1,0,1,0,0,36.538563
608,-0.948572,0.606023,-0.493887,-0.195413,1,0,1,0,0,1,1,0,0,31.980652

In [19]:
data2 = data[['s3', 'a8', 'a11', 'a15', 'a14']]
df1 = pd.concat([data2, dummies], axis=1)
train1 = df1.dropna()
test1 = df1[df1.isna().any(1)]
cols = df1.columns.drop('a14')
x = train1[cols].values
y = train1['a14'].values

X_test1 = test1[cols].values
x_train, x_valid, y_train, y_valid = train_test_split(    
    x, y, test_size=0.25, random_state=42)

In [20]:
model = Sequential([
                    Dense(20, input_dim=x.shape[1], activation='relu'),
                    Dense(10, activation="relu"),
                    #Dense(13, activation="relu"),
                    Dense(1)
])

In [21]:
model.compile(loss='mean_squared_error', metrics=[tf.keras.metrics.RootMeanSquaredError()], optimizer='adam')
model.fit(x_train,y_train,validation_data=(x_valid,y_valid), callbacks=[monitor],
          verbose=2,epochs=1000)

Epoch 1/1000
16/16 - 1s - loss: 56391.4922 - root_mean_squared_error: 237.4689 - val_loss: 86070.1172 - val_root_mean_squared_error: 293.3771 - 586ms/epoch - 37ms/step
Epoch 2/1000
16/16 - 0s - loss: 56266.9414 - root_mean_squared_error: 237.2065 - val_loss: 85912.0156 - val_root_mean_squared_error: 293.1075 - 58ms/epoch - 4ms/step
Epoch 3/1000
16/16 - 0s - loss: 56118.1406 - root_mean_squared_error: 236.8927 - val_loss: 85718.0547 - val_root_mean_squared_error: 292.7765 - 46ms/epoch - 3ms/step
Epoch 4/1000
16/16 - 0s - loss: 55923.4023 - root_mean_squared_error: 236.4813 - val_loss: 85465.8438 - val_root_mean_squared_error: 292.3454 - 51ms/epoch - 3ms/step
Epoch 5/1000
16/16 - 0s - loss: 55651.1406 - root_mean_squared_error: 235.9049 - val_loss: 85097.7891 - val_root_mean_squared_error: 291.7152 - 64ms/epoch - 4ms/step
Epoch 6/1000
16/16 - 0s - loss: 55248.1484 - root_mean_squared_error: 235.0492 - val_loss: 84568.1562 - val_root_mean_squared_error: 290.8061 - 48ms/epoch - 3ms/step
Epoch 7/1000
16/16 - 0s - loss: 54677.4375 - root_mean_squared_error: 233.8321 - val_loss: 83864.9375 - val_root_mean_squared_error: 289.5944 - 53ms/epoch - 3ms/step
Epoch 8/1000
16/16 - 0s - loss: 53930.0625 - root_mean_squared_error: 232.2285 - val_loss: 82958.4844 - val_root_mean_squared_error: 288.0251 - 56ms/epoch - 3ms/step
Epoch 9/1000
16/16 - 0s - loss: 52982.1875 - root_mean_squared_error: 230.1786 - val_loss: 81818.4844 - val_root_mean_squared_error: 286.0393 - 64ms/epoch - 4ms/step
Epoch 10/1000
16/16 - 0s - loss: 51793.9102 - root_mean_squared_error: 227.5827 - val_loss: 80432.8203 - val_root_mean_squared_error: 283.6068 - 55ms/epoch - 3ms/step
Epoch 11/1000
16/16 - 0s - loss: 50367.3242 - root_mean_squared_error: 224.4267 - val_loss: 78800.4062 - val_root_mean_squared_error: 280.7141 - 70ms/epoch - 4ms/step
Epoch 12/1000
16/16 - 0s - loss: 48683.7656 - root_mean_squared_error: 220.6440 - val_loss: 76946.6172 - val_root_mean_squared_error: 277.3925 - 60ms/epoch - 4ms/step
Epoch 13/1000
16/16 - 0s - loss: 46816.2305 - root_mean_squared_error: 216.3706 - val_loss: 74822.1406 - val_root_mean_squared_error: 273.5363 - 66ms/epoch - 4ms/step
Epoch 14/1000
16/16 - 0s - loss: 44676.8750 - root_mean_squared_error: 211.3690 - val_loss: 72541.6484 - val_root_mean_squared_error: 269.3356 - 69ms/epoch - 4ms/step
Epoch 15/1000
16/16 - 0s - loss: 42383.5977 - root_mean_squared_error: 205.8728 - val_loss: 70103.7734 - val_root_mean_squared_error: 264.7712 - 48ms/epoch - 3ms/step
Epoch 16/1000
16/16 - 0s - loss: 39995.0273 - root_mean_squared_error: 199.9876 - val_loss: 67532.7812 - val_root_mean_squared_error: 259.8707 - 62ms/epoch - 4ms/step
Epoch 17/1000
16/16 - 0s - loss: 37505.9180 - root_mean_squared_error: 193.6644 - val_loss: 64974.8359 - val_root_mean_squared_error: 254.9016 - 56ms/epoch - 4ms/step
Epoch 18/1000
16/16 - 0s - loss: 35017.8125 - root_mean_squared_error: 187.1305 - val_loss: 62518.3125 - val_root_mean_squared_error: 250.0366 - 48ms/epoch - 3ms/step
Epoch 19/1000
16/16 - 0s - loss: 32762.7930 - root_mean_squared_error: 181.0050 - val_loss: 60042.7070 - val_root_mean_squared_error: 245.0361 - 49ms/epoch - 3ms/step
Epoch 20/1000
16/16 - 0s - loss: 30580.7227 - root_mean_squared_error: 174.8734 - val_loss: 57823.9922 - val_root_mean_squared_error: 240.4662 - 64ms/epoch - 4ms/step
Epoch 21/1000
16/16 - 0s - loss: 28560.1406 - root_mean_squared_error: 168.9975 - val_loss: 55977.6484 - val_root_mean_squared_error: 236.5960 - 47ms/epoch - 3ms/step
Epoch 22/1000
16/16 - 0s - loss: 26934.7930 - root_mean_squared_error: 164.1182 - val_loss: 54345.2344 - val_root_mean_squared_error: 233.1206 - 63ms/epoch - 4ms/step
Epoch 23/1000
16/16 - 0s - loss: 25580.4355 - root_mean_squared_error: 159.9388 - val_loss: 52977.6133 - val_root_mean_squared_error: 230.1687 - 54ms/epoch - 3ms/step
Epoch 24/1000
16/16 - 0s - loss: 24482.6641 - root_mean_squared_error: 156.4694 - val_loss: 51956.7227 - val_root_mean_squared_error: 227.9402 - 63ms/epoch - 4ms/step
Epoch 25/1000
16/16 - 0s - loss: 23707.9355 - root_mean_squared_error: 153.9738 - val_loss: 51153.6719 - val_root_mean_squared_error: 226.1718 - 46ms/epoch - 3ms/step
Epoch 26/1000
16/16 - 0s - loss: 23108.0820 - root_mean_squared_error: 152.0134 - val_loss: 50639.7422 - val_root_mean_squared_error: 225.0328 - 63ms/epoch - 4ms/step
Epoch 27/1000
16/16 - 0s - loss: 22770.4883 - root_mean_squared_error: 150.8989 - val_loss: 50190.8633 - val_root_mean_squared_error: 224.0332 - 64ms/epoch - 4ms/step
Epoch 28/1000
16/16 - 0s - loss: 22482.6660 - root_mean_squared_error: 149.9422 - val_loss: 49919.0938 - val_root_mean_squared_error: 223.4258 - 58ms/epoch - 4ms/step
Epoch 29/1000
16/16 - 0s - loss: 22313.6426 - root_mean_squared_error: 149.3775 - val_loss: 49731.4648 - val_root_mean_squared_error: 223.0055 - 63ms/epoch - 4ms/step
Epoch 30/1000
16/16 - 0s - loss: 22180.6426 - root_mean_squared_error: 148.9317 - val_loss: 49605.9414 - val_root_mean_squared_error: 222.7239 - 68ms/epoch - 4ms/step
Epoch 31/1000
16/16 - 0s - loss: 22092.2930 - root_mean_squared_error: 148.6348 - val_loss: 49508.6406 - val_root_mean_squared_error: 222.5054 - 66ms/epoch - 4ms/step
Epoch 32/1000
16/16 - 0s - loss: 22011.4707 - root_mean_squared_error: 148.3626 - val_loss: 49435.4883 - val_root_mean_squared_error: 222.3409 - 51ms/epoch - 3ms/step
Epoch 33/1000
16/16 - 0s - loss: 21955.0000 - root_mean_squared_error: 148.1722 - val_loss: 49393.8867 - val_root_mean_squared_error: 222.2474 - 54ms/epoch - 3ms/step
Epoch 34/1000
16/16 - 0s - loss: 21908.0723 - root_mean_squared_error: 148.0138 - val_loss: 49304.5547 - val_root_mean_squared_error: 222.0463 - 67ms/epoch - 4ms/step
Epoch 35/1000
16/16 - 0s - loss: 21846.5137 - root_mean_squared_error: 147.8057 - val_loss: 49281.4492 - val_root_mean_squared_error: 221.9942 - 64ms/epoch - 4ms/step
Epoch 36/1000
16/16 - 0s - loss: 21800.7520 - root_mean_squared_error: 147.6508 - val_loss: 49243.2344 - val_root_mean_squared_error: 221.9082 - 66ms/epoch - 4ms/step
Epoch 37/1000
16/16 - 0s - loss: 21755.5664 - root_mean_squared_error: 147.4977 - val_loss: 49214.9375 - val_root_mean_squared_error: 221.8444 - 69ms/epoch - 4ms/step
Epoch 38/1000
16/16 - 0s - loss: 21715.1270 - root_mean_squared_error: 147.3605 - val_loss: 49192.5078 - val_root_mean_squared_error: 221.7938 - 59ms/epoch - 4ms/step
Epoch 39/1000
16/16 - 0s - loss: 21684.6465 - root_mean_squared_error: 147.2571 - val_loss: 49174.7656 - val_root_mean_squared_error: 221.7538 - 51ms/epoch - 3ms/step
Epoch 40/1000
16/16 - 0s - loss: 21644.7148 - root_mean_squared_error: 147.1214 - val_loss: 49119.1641 - val_root_mean_squared_error: 221.6284 - 65ms/epoch - 4ms/step
Epoch 41/1000
16/16 - 0s - loss: 21610.3047 - root_mean_squared_error: 147.0044 - val_loss: 49120.4570 - val_root_mean_squared_error: 221.6313 - 60ms/epoch - 4ms/step
Epoch 42/1000
16/16 - 0s - loss: 21567.5684 - root_mean_squared_error: 146.8590 - val_loss: 49099.1602 - val_root_mean_squared_error: 221.5833 - 68ms/epoch - 4ms/step
Epoch 43/1000
16/16 - 0s - loss: 21544.1094 - root_mean_squared_error: 146.7791 - val_loss: 49070.4336 - val_root_mean_squared_error: 221.5185 - 62ms/epoch - 4ms/step
Epoch 44/1000
16/16 - 0s - loss: 21505.1484 - root_mean_squared_error: 146.6463 - val_loss: 49051.5234 - val_root_mean_squared_error: 221.4758 - 61ms/epoch - 4ms/step
Epoch 45/1000
16/16 - 0s - loss: 21478.7285 - root_mean_squared_error: 146.5562 - val_loss: 49038.3320 - val_root_mean_squared_error: 221.4460 - 66ms/epoch - 4ms/step
Epoch 46/1000
16/16 - 0s - loss: 21450.3301 - root_mean_squared_error: 146.4593 - val_loss: 49056.3477 - val_root_mean_squared_error: 221.4867 - 47ms/epoch - 3ms/step
Epoch 47/1000
16/16 - 0s - loss: 21424.1074 - root_mean_squared_error: 146.3698 - val_loss: 49050.0703 - val_root_mean_squared_error: 221.4725 - 61ms/epoch - 4ms/step
Epoch 48/1000
16/16 - 0s - loss: 21404.4746 - root_mean_squared_error: 146.3027 - val_loss: 49041.2188 - val_root_mean_squared_error: 221.4525 - 82ms/epoch - 5ms/step
Epoch 49/1000
16/16 - 0s - loss: 21376.2734 - root_mean_squared_error: 146.2063 - val_loss: 49022.0312 - val_root_mean_squared_error: 221.4092 - 121ms/epoch - 8ms/step
Epoch 50/1000
16/16 - 0s - loss: 21357.5195 - root_mean_squared_error: 146.1421 - val_loss: 49019.3555 - val_root_mean_squared_error: 221.4032 - 172ms/epoch - 11ms/step
Epoch 51/1000
16/16 - 0s - loss: 21350.0703 - root_mean_squared_error: 146.1166 - val_loss: 49045.0430 - val_root_mean_squared_error: 221.4612 - 155ms/epoch - 10ms/step
Epoch 52/1000
16/16 - 0s - loss: 21313.0625 - root_mean_squared_error: 145.9899 - val_loss: 49006.6680 - val_root_mean_squared_error: 221.3745 - 128ms/epoch - 8ms/step
Epoch 53/1000
16/16 - 0s - loss: 21292.3477 - root_mean_squared_error: 145.9190 - val_loss: 49016.8047 - val_root_mean_squared_error: 221.3974 - 135ms/epoch - 8ms/step
Epoch 54/1000
16/16 - 0s - loss: 21277.5840 - root_mean_squared_error: 145.8684 - val_loss: 48989.7422 - val_root_mean_squared_error: 221.3363 - 104ms/epoch - 6ms/step
Epoch 55/1000
16/16 - 0s - loss: 21252.4746 - root_mean_squared_error: 145.7823 - val_loss: 49007.3867 - val_root_mean_squared_error: 221.3761 - 169ms/epoch - 11ms/step
Epoch 56/1000
16/16 - 0s - loss: 21243.4727 - root_mean_squared_error: 145.7514 - val_loss: 49031.1641 - val_root_mean_squared_error: 221.4298 - 188ms/epoch - 12ms/step
Epoch 57/1000
16/16 - 0s - loss: 21216.0410 - root_mean_squared_error: 145.6573 - val_loss: 49012.7109 - val_root_mean_squared_error: 221.3881 - 149ms/epoch - 9ms/step
Epoch 58/1000
16/16 - 0s - loss: 21213.2383 - root_mean_squared_error: 145.6476 - val_loss: 48979.1719 - val_root_mean_squared_error: 221.3124 - 152ms/epoch - 9ms/step
Epoch 59/1000
16/16 - 0s - loss: 21191.4062 - root_mean_squared_error: 145.5727 - val_loss: 48983.0547 - val_root_mean_squared_error: 221.3212 - 129ms/epoch - 8ms/step
Epoch 60/1000
16/16 - 0s - loss: 21176.7129 - root_mean_squared_error: 145.5222 - val_loss: 49000.2656 - val_root_mean_squared_error: 221.3600 - 150ms/epoch - 9ms/step
Epoch 61/1000
16/16 - 0s - loss: 21170.8359 - root_mean_squared_error: 145.5020 - val_loss: 48996.0898 - val_root_mean_squared_error: 221.3506 - 90ms/epoch - 6ms/step
Epoch 62/1000
16/16 - 0s - loss: 21153.1934 - root_mean_squared_error: 145.4414 - val_loss: 48963.9102 - val_root_mean_squared_error: 221.2779 - 88ms/epoch - 6ms/step
Epoch 63/1000
16/16 - 0s - loss: 21165.3965 - root_mean_squared_error: 145.4833 - val_loss: 48939.0703 - val_root_mean_squared_error: 221.2218 - 128ms/epoch - 8ms/step
Epoch 64/1000
16/16 - 0s - loss: 21137.8184 - root_mean_squared_error: 145.3885 - val_loss: 48991.3398 - val_root_mean_squared_error: 221.3399 - 129ms/epoch - 8ms/step
Epoch 65/1000
16/16 - 0s - loss: 21118.8828 - root_mean_squared_error: 145.3234 - val_loss: 49005.4648 - val_root_mean_squared_error: 221.3718 - 127ms/epoch - 8ms/step
Epoch 66/1000
16/16 - 0s - loss: 21113.7793 - root_mean_squared_error: 145.3058 - val_loss: 48984.2969 - val_root_mean_squared_error: 221.3240 - 120ms/epoch - 8ms/step
Epoch 67/1000
16/16 - 0s - loss: 21094.7676 - root_mean_squared_error: 145.2404 - val_loss: 48986.0742 - val_root_mean_squared_error: 221.3280 - 144ms/epoch - 9ms/step
Epoch 68/1000
Restoring model weights from the end of the best epoch: 63.
16/16 - 0s - loss: 21097.7031 - root_mean_squared_error: 145.2505 - val_loss: 48958.5273 - val_root_mean_squared_error: 221.2657 - 127ms/epoch - 8ms/step
Epoch 68: early stopping

In [22]:
preds1 = model.predict(X_test1)
preds1

array([[223.79079 ],
       [176.51859 ],
       [170.7066  ],
       [ 44.698105],
       [170.7066  ],
       [ 95.64273 ],
       [170.7066  ],
       [136.54079 ],
       [ 86.96582 ],
       [170.7066  ],
       [170.7066  ],
       [170.7066  ],
       [174.12695 ]], dtype=float32)

In [23]:
test1.dropna(axis=1, inplace=True)
test1['a14'] = preds1.reshape(-1)
test1

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,s3,a8,a11,a15,a9_f,a9_t,a10_f,a10_t,a12_f,a12_t,a13_g,a13_p,a13_s,a14
71,-0.152521,3.073064,-0.493887,-0.195413,0,1,1,0,0,1,1,0,0,223.790787
202,-0.403800,0.007953,0.740830,-0.080169,0,1,0,1,1,0,1,0,0,176.518585
206,-0.956613,-0.664877,-0.493887,-0.195413,1,0,1,0,1,0,0,1,0,170.706604
243,0.551059,0.145509,0.535044,4.937957,0,1,0,1,1,0,1,0,0,44.698105
270,-0.956613,-0.664877,-0.493887,-0.195413,1,0,1,0,1,0,0,1,0,170.706604
278,1.757198,-0.664877,-0.493887,-0.195413,1,0,1,0,1,0,1,0,0,95.642731
330,-0.956613,-0.664877,-0.493887,-0.195413,1,0,1,0,1,0,0,1,0,170.706604
406,0.676699,-0.615536,-0.082314,-0.191956,1,0,0,1,1,0,1,0,0,136.540787
445,1.304896,-0.664877,-0.493887,0.803372,1,0,1,0,1,0,1,0,0,86.965820
456,-0.956613,-0.664877,-0.493887,-0.195413,1,0,1,0,1,0,0,1,0,170.706604
592,-0.956613,-0.664877,-0.493887,-0.195413,1,0,1,0,1,0,0,1,0,170.706604
622,-0.956613,-0.664877,-0.493887,-0.195413,1,0,1,0,1,0,0,1,0,170.706604
626,0.618402,-0.615536,-0.493887,-0.195413,1,0,1,0,0,1,1,0,0,174.126953

In [25]:
data.a2.fillna({83:34.329376, 86:33.027035, 92:37.63483 , 97:33.005493, 254:27.247265, 286:27.697863,
       329:27.923702, 445:25.383657, 450:31.033077, 500:34.09424 , 515:36.581947, 608:30.02712}, inplace=True)

data.a14.fillna({71:217.49971 , 202:175.8793  , 206:167.94762 ,  243:65.30137 , 270:167.94762 ,
       278:101.31148 , 330:167.94762 , 406:144.16798 , 445:102.327545, 456:167.94762 ,
       592:167.94762 , 622:167.94762 , 626:174.23894}, inplace=True)

In [29]:
data.isna().sum()

a1     12
a2      0
s3      0
a4      6
a5      6
a6      9
a7      9
a8      0
a9      0
a10     0
a11     0
a12     0
a13     0
a14     0
a15     0
a16     0
dtype: int64